body {
    background: url("2.png") center top;
    background-size: 100% auto;
    background-repeat: repeat-y;
    width: 100%;
    margin: 0;
    position: absolute;
    background-color: rgb(47,45,43);
}

a {
    color: rgb(123,10,19);
    text-decoration: underline;
}
a:hover,
a:focus {
    color: rgb(123,10,19);
    text-decoration: none;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.bg {
    width: 100%;
    height: 100%;
    background: url("1.png") center no-repeat;
    background-size: 100%;
    background-position: 49% 0px;
    top: 0;
    position: absolute;
    display: block;
}
#logo{
width: 90%;
 padding-left: 5%;
  }
  .content {
  width: 1240px;
  height: 100%;
  margin: 0% auto;
  background-color: rgb(251,251,251);
  position: relative;
  margin-top: 20px;
  max-width: 1240px;
  float: none !important;
  }
  .menu1{
  width: 100%;
  display: table;
  }

  .menu1 li {

  }

  .horizontal li{
  	display: table-cell;
  	height: 50px;
  	border-right: 1px solid rgb(199,199,199);
    background-color: rgb(220,220,220);
  }
  .horizontal li:hover {
      background-color: rgb(233,233,233);
  }
.horizontal li.active {
    background-color: #000000;
}
.horizontal li.active a{
    color: rgb(220,220,220);
}

  .horizontal li a {
      width: 100%;
      height: 100%;
      display: block;
      text-decoration: none;
      vertical-align: middle;
      text-align: center;
      line-height: 50px;
      color: #000000;
  }
    .horizontal{
 	display: table;
    border-top: 4px solid #000000;
  }
    .news {
        width: 892px;
        float: left;
    }

.lentanews {
    width: 892px;
    height: 35px;
    background-color: rgb(81,81,81);
    color: #ffffff;

}
.lentanews>span {
    display: inline-block;
    line-height: 35px;
    vertical-align: middle;
}
.lentanews:before{
    content: " ";
    background-image: url("ggg/Sound.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 32px;
    height: 30px;
    line-height: 35px;
    vertical-align: middle;
    background-position: center;
}
.rss {
    content: " ";
    background-image: url("ggg/RSS.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 32px;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    background-position: center;
    float: right;
}
.newstext {
    width: 892px;
    padding-top: 20px;
}
.newsimg {
    float: left;
}
.articles {
    display: table;
    margin-bottom: 20px;
}
.article {
    width: 277px;
    display: inline-block;
    padding-right: 18px;
}
.lentaarticles {
    width: 277px;
    height: 35px;
    background-color: rgb(81,81,81);
    color: #ffffff;
    overflow: hidden;
}

.lentaarticles>span {
    width: 70%;
    line-height: 35px;
    vertical-align: middle;
}
.lentaarticles:before{
    content: " ";
    background-image: url("ggg/Sound.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 32px;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    background-position: center;
}
.lentaarticles.master-class:before{
    background-image: url("ggg/Menu.png");
}
.lentaarticles.persones:before{
    background-image: url("ggg/User.png");
}.lentaarticles.art:before{
     background-image: url("ggg/Compose.png");
 }
.article-img {
    height: 208px;
}
.article-text {
    padding-top: 20px;
}
.foot {
    height: 315px;
    display: table;
    background-color: rgb(251,251,251);
    margin: auto;
}
.footer-img {
    height: 250px;
    padding-top: 10px;
    border-bottom: 2px solid;
    background: url("footer.png");
    background-size: 100% 100%;
}

.img11{
    width: 100%;
    height: 100%;
}


.footer-text {
    width: 277px;
    height: 75px;
    float: left;
    vertical-align: middle;
    line-height: 75px;
}
.footer-sosial {
    display: table;
    bottom: 0;
    right: 0;
    position: absolute;
    margin-right: 15px;
}
.footer-sosial li {
    display: table;
    height: 32px;
    width: 32px;
    background-color: rgb(143,142,142);
    margin-right: 8px;
    float: left;
}
.footer-sosial li a {
    width: 100%;
    height: 100%;
    display: block;
}
.footer-sosial li:hover{
    background-color: rgb(165,165,165);
}
#plus {
    background-color: rgb(190,10,20);
}
#plus:hover {
    background-color: rgb(200,20,40);
}

.vk-foot {
    background: url("ggg/V.png");
    background-repeat: no-repeat;
    background-position: center;
}
.odn-foot {
    background: url("ggg/o.png");
    background-repeat: no-repeat;
    background-position: center;
}
.fb-foot {
    background: url("ggg/f.png");
    background-repeat: no-repeat;
    background-position: center;
}
.tv-foot {
    background: url("ggg/t.png");
    background-repeat: no-repeat;
    background-position: center;
}
.ins-foot {
    background: url("ggg/i.png");
    background-repeat: no-repeat;
    background-position: center;
}
.g-foot {
    background: url("ggg/g.png");
    background-repeat: no-repeat;
    background-position: center;
}
.m-foot {
    background: url("ggg/m.png");
    background-repeat: no-repeat;
    background-position: center;
}
.p-foot {
    background: url("ggg/p.png");
    background-repeat: no-repeat;
    background-position: center;
}
.plus-foot {
    background: url("ggg/plus.png");
    background-repeat: no-repeat;
    background-position: center;
}
.footer-horizontal li{
    display: table-cell;
    height: 50px;
}
.footer-horizontal{
    display: table;
}

.footer-horizontal li a {
    width: 100%;
    height: 100%;
    display: block;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    color: rgb(123,10,19);
    text-decoration: underline;
}
.footer-horizontal li a:hover{
    text-decoration: none;
}
.right-content1 {
    float: right;
    width: 278px;
    height: 520px;
    padding-right: 15px;

}
.lenta-right {
    width: 278px;
    height: 35px;
    background-color: rgb(81,81,81);
    color: #ffffff;
    overflow: hidden;
}
.lenta-right>span {
    width: 70%;
    line-height: 35px;
    vertical-align: middle;
}
.lenta-right:before{
    content: " ";
    background-image: url("ggg/Newspaper.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 32px;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    background-position: center;
}

.lenta-right.vk:before{
     background-image: url("ggg/Comments.png");
 }
.right-img {
    width: 278px;
    height: 395px;
    padding-top: 20px;
    margin-bottom: 10px;
}
.right-content2 {
    float: right;
    width: 278px;
    height: 460px;
    padding-right: 15px;}

.right-button {
    min-height: 25px;
    background-color: rgb(199,199,199);
    margin-top: 5px;
    display: inline-block;
    padding-right: 5px;
}
.right-button:before{
    content: " ";
    background-image: url("ggg/strel.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 32px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    background-position: center;
}
.right-button:hover {
    background-color: rgb(233,233,233);
}

.sosial {
    display: table;
    position: absolute;
    margin-right: 15px;
}

.sosial li {
    display: table;
    height: 48px;
    width: 48px;
    margin-right: 6px;
    float: left;
    margin-bottom: 5px;
}
.sosial li a {
    width: 100%;
    height: 100%;
    display: block;
}
.vk1 {
    background: url("ggg/vk.png");
    background-repeat: no-repeat;
    background-position: center;
}
.fb {
    background: url("ggg/fb.png");
    background-repeat: no-repeat;
    background-position: center;
}
.tv {
    background: url("ggg/tv.png");
    background-repeat: no-repeat;
    background-position: center;
}
.ins {
    background: url("ggg/ins.png");
    background-repeat: no-repeat;
    background-position: center;
}
.yt {
    background: url("ggg/yt.png");
    background-repeat: no-repeat;
    background-position: center;
}
.content-right {
    padding-top: 20px;
}

.adv {
    width: 695px;
    height: 80px;
    float: left;
}
.header-action {
    width: 420px;
    height: 80px;
    float: right;
}

.seach {
    width: 414px;
    height: 30px;
    border: 3px solid rgb(145,145,145);
}
.seach:after{
    content: " ";
    background-image: url("ggg/seach.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 32px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    background-position: center;
    float: right;
}

.mob {
    height: 35px;
    width: 160px;
    float: left;
    margin-top: 15px;
}
.mob a {
    color: rgb(183,183,182);
}
.mob:before{
    content: " ";
    background-image: url("ggg/Phone.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 32px;
    height: 30px;
    line-height: 35px;
    vertical-align: middle;
    background-position: center;
}

.auth {
    width: 170px;
    height: 35px;
    background-color: rgb(169,9,21);
    margin-top: 15px;

}
.auth:hover{
    background-color: rgb(187,8,22);
}
.auth a {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    line-height: 35px;
    color: #ffffff;
}

.logo {
    margin: 0% auto;
    position: relative;
    width: 350px;
    display: block;
    padding-top: 12px;
}

.top-conteiner {
    margin-top: 200px;
}

.nlp {
    padding-left: 0 !important;
}
.np {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.nrp {
  padding-right: 0 !important;
}

.nlp5 {
  padding-left: 5px !important;
}
.nrp5 {
  padding-right: 5px !important;
}


.content .page-header {
  padding-bottom: 4px;
  margin: 0 0 15px;
  border-bottom: 2px solid rgb(142, 142, 142);
}

.block, a.block, span.block, input.block, textarea.block {
  display: block;
}

.square {
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
}

.vpadding5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.uppercase {
  text-transform: uppercase;
}

.vmargin0 {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-t0 {
  margin-top: 0;
}
.margin-b0 {
  margin-bottom: 0;
}

.margin-t1em {
  margin-top: 1em;
}
.margin-b1em {
  margin-bottom: 1em;
}
.margin-t2em {
  margin-top: 2em;
}
.margin-b2em {
  margin-bottom: 2em;
}

.persona {
  margin-bottom: 1em;
}

.persona img {
  width: 100%;
}

.persona .name {
  font-weight: bolder;
}

.personas .details-link a {
  text-decoration: underline;
  cursor: pointer;
}

.personas .details-link a:hover {
  text-decoration: none;
}

.personas .details-link:after {
  color: rgb(81,81,81);
  content: " >>";
  text-decoration: none;
}


.pagination a:hover {
  text-decoration: none;
}

.pagination li {
  display: table-cell;
  height: 30px;
  border: 1px solid;
  min-width: 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}

.pagination a {
  display: block;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  line-height: inherit;
}

.pagination li:first-child {
  text-align: left;
}
.pagination li:last-child {
  text-align: right;
}

.pagination li:first-child a:before {
  content: "<< ";
}
.pagination li:last-child a:after {
  content: " >>";
}
.pagination-spacer {
  width: 20%;
}
